body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #272727;
  color: #e0e0e0;
}


/*-Header-*/
.header {
  background-color: #f0f0f0f0;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.header h1 {
  margin: 0;
  font-size: 32px;
  color: #1a1a1a;
  cursor: pointer;
}

.header .role {
  margin: 5px 0;
  font-size: 18px;
  color: #555555;
}

.header .intro {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  max-width: 800px;
  color: rgba(0, 0, 0, 0.789);
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-button {
  background-color: #148556;
  color: #fff;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.15s;
}

.footer-button:hover {  
  color: #10b77a;
  background-color: black;
}

.footer-button:active {
  opacity: 0.6;
}


/*-Main-Projects-*/
main {
  margin: 20px 15px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 25px;
  justify-content: center;
}

.project-card:nth-last-child(1) {
  grid-column: 1 / -1;
}

.project-card {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  max-width: 700px;
  margin: 0 auto;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  border: 1px solid #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transform: none;
}

.project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #444;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.project-card img:hover {
  transform: scale(1.03);
}

.project-card h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #1abc9c;
  cursor: pointer;
}

.project-card p {
  margin: 0 0 12px 0;
  font-size: 15px;
  color: #cccccc;
  cursor: pointer;
}

.project-links a {
  text-decoration: none;
  color: #e67e22;
  margin-right: 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.project-links a:hover {
  color: #d35400;
}


/*-Footer-*/
.footer {
  background-color: #f0f0f0f0;
  color: #333;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
  margin: 5px;
}

.footer a {
  color: #1abc9c;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #16a085;
}

.footer-bottom {
  font-size: 13px;
  color: #777;
  text-align: center;

}


/*-Responsive-*/
@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
  }

  .project-card img {
    height: 250px;
  }

  .header .intro {
    max-width: 100%;
  }
}
